body {
  font-family: 'Lato', sans-serif;
  background-color: black; }

sup {
  font-size: 12px;
  left: 3px;
  margin-right: 5px;
  position: relative; }

.layer {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100vh;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: 0px; }

small {
  font-weight: 300; }

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 40px;
  color: white;
  margin-top: 0;
  word-spacing: 8px; }

p {
  color: white;
  font-weight: 300;
  font-size: 15px; }

a {
  color: #309FFF; }

#menu {
  position: fixed;
  top: 20px;
  left: 0;
  height: 70px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin: 0; }
  #menu .toogleNav {
    display: none;
    position: absolute;
    right: 10px;
    top: 0px;
    width: 60px; }
  #menu ul {
    border-bottom: 1px solid #FFF;
    padding-bottom: 7px;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center; }
  #menu .activeNav a {
    color: #309FFF; }
  #menu li {
    display: inline;
    margin-right: 20px; }
    #menu li a {
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 15px; }
    #menu li a:hover {
      color: #309FFF; }

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: white; }

#section0 {
  background-image: url(../img/burglar.jpg);
  background-size: cover; }

.section {
  text-align: center;
  color: white;
  overflow: hidden; }
  .section p {
    max-width: 700px;
    text-align: center;
    line-height: 1.5;
    margin: 0 auto; }

.heading {
  margin-top: -80px;
  text-align: left;
  max-width: 600px;
  margin-left: 50px; }
  .heading h1 {
    text-align: left;
    margin-bottom: 10px;
    font-size: 35px; }
  .heading h2 {
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 10px; }
  .heading p {
    text-align: left;
    max-width: none;
    font-size: 18px; }
  .heading img {
    width: 200px;
    margin-top: 30px; }

.info {
  position: absolute;
  bottom: 200px;
  right: 1%;
  display: flex;
  justify-content: flex-end;
  width: 100%; }

.infobadge {
  z-index: 99999;
  border: 2px solid white;
  cursor: pointer;
  position: absolute;
  list-style: none;
  background-color: #0C2840;
  border-radius: 50%;
  padding: 20px 29px;
  font-size: 20px;
  font-weight: 900;
  color: white;
  display: inline-flex;
  align-content: center;
  align-items: center;
  transition: background-color 1s; }

.infobadge:hover {
  background-color: #309FFF; }

.decline {
  display: flex;
  position: absolute;
  bottom: 0px;
  width: 100%;
  align-items: center; }
  .decline .success {
    background: #184F7F; }
  .decline .fail {
    background-color: #2B8FE5; }
  .decline div {
    width: 50%;
    border-right: 1px solid white; }
    .decline div h4 {
      font-size: 12px;
      font-style: normal;
      display: block;
      text-transform: uppercase;
      font-weight: 300;
      margin: 0;
      padding: 0;
      padding-top: 20px; }
    .decline div h2 {
      font-weight: 300;
      font-size: 30px;
      margin: 0;
      padding-bottom: 20px; }
  .decline div:last-child {
    border-right: none; }

#section1 h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 30px;
  position: relative;
  color: white;
  margin-bottom: 15px; }
#section1 h3 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 20px;
  margin: 0; }
  #section1 h3 small {
    font-weight: 300;
    font-size: 16px; }
#section1 .layer {
  background-color: #0C2840;
  transition: background-color 1s; }
#section1 svg {
  margin-top: -40px; }
#section1 svg g g g g rect {
  stroke-width: 0px;
  fill: #309FFF; }

#iCharts {
  display: flex;
  height: 400px;
  justify-content: space-around; }
  #iCharts .tooltip {
    background-color: #0C2840;
    padding: 10px;
    position: absolute;
    top: -45px;
    border: 2px solid white;
    border-radius: 8px;
    margin-left: -20px; }
    #iCharts .tooltip h5 {
      margin: 0;
      margin-top: 5px;
      padding: 0;
      font-size: 17px;
      font-weight: 900;
      text-transform: uppercase; }

#ewi {
  width: 450px; }
  #ewi img {
    width: 220px; }

#index-day, #index-month {
  height: 450px; }

[data-rel="true"] {
  background-color: #2477BF !important;
  transition: background-color 1s; }
  [data-rel="true"] h1 {
    color: white; }
  [data-rel="true"] svg g g g g rect {
    stroke-width: 0px;
    fill: #0C2840 !important; }

.graphic {
  width: 200px;
  height: 200px;
  background-size: cover;
  margin: 0 auto;
  -webkit-transition: background-image 1.2s ease-in-out;
  transition: background-image 1.2s ease-in-out; }

[data-rel="Geringes"] .graphic {
  background-image: url("../img/einbrecher_gering.png"); }

[data-rel="Mittleres"] .graphic {
  background-image: url("../img/einbrecher_mittel.png"); }

[data-rel="Hohes"] .graphic {
  background-image: url("../img/einbrecher_hoch.png"); }

#ewi {
  position: relative; }

.slider {
  border-radius: 18px;
  margin: 0 auto;
  margin-bottom: 40px;
  display: block;
  clear: both; }
  .slider .daytooltip {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px; }
  .slider img {
    width: 25px !important;
    padding: 8px 20px;
    border: 1px solid white;
    opacity: 0.2;
    transition: opactiy 1s; }
  .slider img:first-child {
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: -3px; }
  .slider img:last-child {
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; }
  .slider .active {
    opacity: 1; }
  .slider .day:hover {
    opacity: 1;
    transition: opacity 1s; }
  .slider .night:hover {
    opacity: 1;
    transition: opacity 1s; }
  .slider .day.active, .slider .day:hover {
    background-color: #0C2840; }
  .slider .night.active, .slider .night:hover {
    background-color: #309FFF; }

.afe {
  align-items: flex-end; }

.df {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .df div {
    position: relative;
    width: 420px; }
    .df div img {
      width: 100%; }

.stellen h4 {
  font-size: 12px;
  font-style: normal;
  display: block;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
  padding: 0;
  padding-top: 20px; }
.stellen h2 {
  font-weight: 300;
  font-size: 30px;
  margin: 0;
  padding-bottom: 20px; }

.badges {
  width: 450px;
  position: relative;
  margin: 0 auto; }
  .badges li {
    cursor: pointer;
    position: absolute;
    list-style: none;
    background-color: #0C2840;
    border-radius: 50%;
    padding: 20px 10px;
    border: 2px solid white;
    font-size: 14px;
    color: white;
    display: inline-flex;
    align-content: center;
    align-items: center;
    transition: background-color 1s; }
  .badges li:hover {
    background-color: #309FFF; }
  .badges li.large {
    padding: 20px 13px; }
  .badges .noneborder {
    background: none !important;
    border: none !important; }
  .badges span {
    position: relative;
    left: 68px;
    top: 20px; }

.tile {
  width: 85%;
  height: 400px;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  align-content: center;
  justify-content: center; }
  .tile h1 {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 0; }
  .tile h2 {
    font-size: 30px;
    font-weight: 300;
    margin-top: 0; }
  .tile .w50 {
    width: 50%;
    position: relative;
    background-color: #0C2840;
    padding: 60px 40px;
    cursor: pointer;
    margin: 0 1px;
    transition: 1s background-color; }
    .tile .w50 img {
      max-width: 440px; }
    .tile .w50 .kachelimg {
      max-width: 270px; }
  .tile .w50:hover {
    background-color: #309FFF; }
  .tile h3 {
    /* margin-left: 250px; */
    position: absolute;
    font-size: 25px; }

.tile.window {
  width: 100%; }
  .tile.window .w50 {
    overflow: hidden;
    margin: 0 1px;
    padding: 20px; }
  .tile.window .w50:hover {
    background-color: #0C2840; }
  .tile.window .bgbrandhover {
    background-color: #0C2840; }
  .tile.window .bgbrandhover:hover {
    background-color: #0C2840; }
  .tile.window .close:hover {
    color: #309FFF; }

.close {
  position: absolute;
  z-index: 999;
  right: 2%;
  cursor: pointer;
  font-size: 60px;
  font-weight: 900;
  top: 170px; }

.close:hover {
  color: #309FFF; }

.door {
  width: 100%; }

.door, .window {
  position: relative;
  background-color: #0C2840; }

.doorChart {
  padding-left: 120px; }
  .doorChart svg g g g g rect {
    stroke-width: 0px;
    fill: white; }
  .doorChart .tooltip {
    min-width: 200px; }
  .doorChart .tooltip {
    background-color: #0C2840;
    padding: 10px;
    position: absolute;
    top: -45px;
    border: 2px solid white;
    border-radius: 8px; }
    .doorChart .tooltip h5 {
      margin: 0;
      margin-top: 5px;
      padding: 0;
      font-size: 17px;
      font-weight: 900;
      text-transform: uppercase; }

.windowChart {
  padding-left: 50px; }
  .windowChart svg g g g g rect {
    stroke-width: 0px;
    fill: white; }
  .windowChart .tooltip {
    min-width: 200px; }
  .windowChart .tooltip {
    background-color: #0C2840;
    padding: 10px;
    position: absolute;
    top: -45px;
    border: 2px solid white;
    border-radius: 8px; }
    .windowChart .tooltip h5 {
      margin: 0;
      margin-top: 5px;
      padding: 0;
      font-size: 17px;
      font-weight: 900;
      text-transform: uppercase; }

#sachschaden-chart {
  height: 400px; }
  #sachschaden-chart svg g g g g rect {
    stroke-width: 0px;
    fill: white; }
  #sachschaden-chart .tooltip {
    min-width: 200px; }
  #sachschaden-chart .tooltip {
    background-color: #0C2840;
    padding: 10px;
    position: absolute;
    top: -45px;
    border: 2px solid white;
    border-radius: 8px; }
    #sachschaden-chart .tooltip h5 {
      margin: 0;
      margin-top: 5px;
      padding: 0;
      font-size: 17px;
      font-weight: 900;
      text-transform: uppercase; }

.sliderContainer {
  display: flex;
  justify-content: center; }

.werteSlider {
  border-radius: 18px;
  margin: 10px; }
  .werteSlider span {
    width: 25px !important;
    padding: 8px 20px;
    border: 1px solid white;
    cursor: pointer; }
  .werteSlider span:first-child {
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: -3px; }
  .werteSlider span:last-child {
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; }
  .werteSlider span.dieb:hover, .werteSlider span.dieb.active {
    background-color: #e74c3c; }
  .werteSlider span.sach:hover, .werteSlider span.sach.active {
    background-color: #309FFF; }

.haushalte {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  margin-top: 40px;
  cursor: pointer; }

.haushalte .icon {
  height: 250px;
  width: auto;
  padding: 0 57px; }

.haushalte h2 {
  font-size: 30px;
  margin-top: 0px; }

.haushalte h4 {
  font-size: 12px;
  margin-bottom: 0px; }

.haushalte h2, .haushalte h4 {
  font-weight: 300; }

.haushalte .description {
  padding: 5px 25px;
  background: #2d7ed7; }

.haushalte .item {
  float: left;
  margin: 0 0 0 2px;
  transition: opacity 1s; }

.haushalte:hover .item:not(:hover) {
  opacity: 0.2; }

.haushalte .item:first-child {
  margin: 0; }

.clear {
  clear: left; }

/*# sourceMappingURL=style.css.map */
