
// COLORS
$alert : #c0392b;
$warning : #e67e22;
$normal : #95a5a6;

$brand: #0C2840;
$brandHover: #309FFF;

body {
  font-family: 'Lato', sans-serif;
  background-color: black;

}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 40px;
  color: white;
}
p {
  color: white;
  font-weight: 300;
  font-size: 15px;
}

#menu{
  position:fixed;
  border-bottom:1px solid $brandHover;
  top:0;
  left:0;
  height: 70px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin:0;
  display: flex;
  align-items: center;
  justify-content: center;

    li {
      display: inline;
      margin-right: 20px;

      a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 17px;
      }
    }


}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: white;
}
#section0{
  background-image: url(../img/burglar.jpg);
}

.section {
  text-align: center;
  color: white;
  overflow: hidden;
  p{
    max-width: 700px;
    text-align: center;
    line-height:1.5;
    margin: 0 auto;
  }
}
// DECLINE
.decline {
  display: flex;
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #184F7F;
  align-items: center;

  div {
    width: 50%;
    border-right:1px solid #0C2840;

    h4 {
      font-size: 12px;
      font-style: normal;
      display: block;
      text-transform: uppercase;
      font-weight: 300;
      margin: 0;
      padding: 0;
      padding-top: 30px;
    }
    h2 {
      font-weight: 300;
      font-size: 70px;
      margin: 0;
      padding-bottom: 30px;


    }
  }
  div:last-child {
    border-right: none;
  }

}
// INDEX
#section1 {
  h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 30px;
    position: relative;
    color: white;
    margin-bottom: 15px;
    padding-top: 70px;
  }
  h3 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0;

    small {
      font-weight: 300;
      font-size: 16px;
    }
  }
  .layer{
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    z-index: 4;
    width: 100%;
    height: 100vh;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0px; // header size
  }
  svg {
    margin-top: -40px;
  }
  .tooltip {
    background-color: $brand;
    padding: 10px;
    position: absolute;
    top:-45px;

    h5 {
      margin: 0;
      margin-bottom: 5px;
      padding: 0;
      font-size: 18px;
      font-weight: 900;
      text-transform: uppercase;
    }
  }
  svg g g g g rect {
    stroke-width:0px; fill:$brand;
  }
}
#myVideo{
  position: absolute;
  right: 0;
  bottom: 0;
  top:0;
  right:0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black;
  background-position: center center;
  background-size: contain;
  object-fit: cover;
  z-index:3;
}

#iCharts {
  display: flex;
  height: 450px;
  align-items: center;
  align-content: center;
  justify-content: space-around;

}

#index-day, #index-month {
  height: 500px;
}

[data-rel="true"] {
  h1 {
    color: white;
  }
 }

// Slider
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top:-70px;
  }

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


//Einbruchsort
.df {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  div {
    position: relative;
    width: 440px;
  }
}

.badges {
  position: absolute!important;
  top:0;
  left:0;

  li {
    cursor: pointer;
    position: absolute;
    list-style: none;
    background-color: $brand;
    border-radius: 50%;
    padding: 16px 10px;
    color: white;
    display: inline-flex;
    align-content: center;
    align-items: center;
    transition: background-color 1s;
  }

  li:hover {
    background-color: $brandHover;
  }
}

// VUE TRANSITIONS
.fade-enter-active, .fade-leave-active {
  transition: opacity 2s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}