
// COLORS
$alert : #c0392b;
$warning : #e67e22;
$normal : #95a5a6;

$brand: #0C2840;
$brandHover: #309FFF;

body {
  font-family: 'Lato', sans-serif;
  background-color: black;

}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 40px;
  color: white;
}
p {
  color: white;
  font-weight: 300;
  font-size: 15px;
}

#menu{
  position:fixed;
  top:0;
  left:0;
  height: 70px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin:0;

  .toogleNav {
    display: none;
    position: absolute;
    right: 10px;
    top: 0px;
    width: 60px;

  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }


    li {
      display: inline;
      margin-right: 20px;

      a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 17px;
      }
    }


}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: white;
}
#section0{
  background-image: url(../img/burglar5.jpg);
  background-size: cover;
}

.section {
  text-align: center;
  color: white;
  overflow: hidden;
  p{
    max-width: 700px;
    text-align: center;
    line-height:1.5;
    margin: 0 auto;
  }
}
// DECLINE
.decline {
  display: flex;
  position: absolute;
  bottom: 0px;
  width: 100%;
  align-items: center;

  .success {
    background-color: #184F7F;

  }
  .fail {
    background-color: #2B8FE5;

  }

  div {
    width: 50%;
    border-right:1px solid white;

    h4 {
      font-size: 12px;
      font-style: normal;
      display: block;
      text-transform: uppercase;
      font-weight: 300;
      margin: 0;
      padding: 0;
      padding-top: 20px;
    }
    h2 {
      font-weight: 300;
      font-size: 30px;
      margin: 0;
      padding-bottom: 20px;


    }
  }
  div:last-child {
    border-right: none;
  }

}
// INDEX
#section1 {
  h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 30px;
    position: relative;
    color: white;
    margin-bottom: 15px;
  }
  h3 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0;

    small {
      font-weight: 300;
      font-size: 16px;
    }
  }
  .layer{
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100vh;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 0px; // header size
    background-color: #0C2840;
    transition: background-color 1s;
  }
  svg {
    margin-top: -40px;
  }
  .tooltip {
    background-color: $brand;
    padding: 10px;
    position: absolute;
    top:-45px;

    h5 {
      margin: 0;
      margin-bottom: 5px;
      padding: 0;
      font-size: 18px;
      font-weight: 900;
      text-transform: uppercase;
    }
  }
  svg g g g g rect {
    stroke-width:0px; fill:white;
  }
}

#iCharts {
  display: flex;
  height: 400px;
  justify-content: space-around;

}

#ewi {
  img {
    width: 220px
  }
}
#index-day, #index-month {
  height: 450px;
}

[data-rel="true"] {
  h1 {
    color: white;
  }

  svg g g g g rect {
    stroke-width:0px; fill:$brand!important;
  }

  background-color: #2477BF!important;
  transition: background-color 1s;

}

.graphic {
  width: 200px;
  height: 200px;
  background-size: cover;
  margin: 0 auto;
  -webkit-transition: background-image 1.2s ease-in-out;
  transition: background-image 1.2s ease-in-out;
}
[data-rel="Geringes"] {
  .graphic {
    background-image: url("../img/einbrecher_gering.png");

  }
}
[data-rel="Mittleres"] {
  .graphic {
    background-image: url("../img/einbrecher_mittel.png");
  }
}
[data-rel="Hohes"] {
  .graphic {
    background-image: url("../img/einbrecher_hoch.png");
  }
}
// Slider
#ewi {
  position: relative;

}

.slider {

  border-radius: 18px;
  margin: 0 auto;
  margin-bottom:40px;
  display: block;
  clear: both;


 img {
   width: 25px!important;
   padding: 8px 20px;
   border: 1px solid white;
   opacity: 0.2;
   transition: opactiy 1s;



 }
  img:first-child {
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right:-3px;
  }


  img:last-child {
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .active {
    opacity: 1;

  }
  .day:hover {
    opacity: 1;
    transition: opacity 1s
  }
  .night:hover {
    opacity: 1;
    transition: opacity 1s
  }
  .day.active, .day:hover {
    background-color: $brand;
  }
  .night.active, .night:hover {
    background-color: white;

  }


}


//Einbruchsort
.df {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  div {
    position: relative;
    width: 420px;

    img {
      width: 100%;
    }
  }
}

.badges {
  position: absolute!important;
  top:0;
  left:0;

  li {
    cursor: pointer;
    position: absolute;
    list-style: none;
    background-color: $brand;
    border-radius: 50%;
    padding: 16px 10px;
    color: white;
    display: inline-flex;
    align-content: center;
    align-items: center;
    transition: background-color 1s;
  }

  li:hover {
    background-color: $brandHover;
  }
}

// VUE TRANSITIONS
.fade-enter-active, .fade-leave-active {
  transition: opacity 2s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}